<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav style="float:right;">
<%= link_to  "English", locale: "en"%>
<%= link_to "Polish", locale: "pl"%>
</nav>
<%= t 'hello' %>
<%= yield %><br>
</body>
</html>
