<%= form_for(@tea) do |f| %>
  <% if @tea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tea.errors.count, "error") %> prohibited this tea from being saved:</h2>

      <ul>
      <% @tea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :producer %><br />
    <%= f.text_field :producer %>
  </div>
  <div class="field">
    <%= f.label :type_of_fluid %><br />
    <%= f.number_field :type_of_fluid %>
  </div>
  <div class="field">
    <%= f.label :webpage %><br />
    <%= f.text_field :webpage %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :extra_content %><br />
    <%= f.text_area :extra_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
