<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tea.name %>
</p>

<p>
  <b>Producer:</b>
  <%= @tea.producer %>
</p>

<p>
  <b>Type of fluid:</b>
  <%= render "type_of_fluid" %>
</p>

<p>
  <b>Webpage:</b>
  <%#= @tea.webpage %>
  <%#= link_to "website", @tea.webpage %>
  <!-- <a href="<%=@tea.webpage%>">website</a> -->
  <%= render "webpage" %>
</p>

<p>
  <b>Image:</b>
  <%= render "image" %>
</p>

<p>
  <b>Extra content:</b>
  <%= @tea.extra_content %>
</p>

<h2>Comments</h2>
<% @tea.comments.each_with_index do |f, i| %>
  <div class="comments">
  <h3>Commenter nr.<%=i%>:</h3>
  <% if f.body.length >50 %>
    <h1>DLUGI KOMENT</h1>
  <%end%>
    
  <%=f.commenter%>
  <h3>Comment: </h3>
  <%=  truncate(f.body, length: 50, separator: ' ' )  %><br>
  <%#= f.body %>
  </div>
<%end%>

<h2>Add a comment:</h2>
<%= form_for([@tea, @tea.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_tea_path(@tea) %> |
<%= link_to 'Back', teas_path %>
