<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tea.name %>
</p>

<p>
  <b>Producer:</b>
  <%= @tea.producer %>
</p>

<p>
  <b>Type of fluid:</b>
  <%= case @tea.type_of_fluid
  when 1 then "Tea"
  when 2 then "Tea-like"
  when 3 then "Coffe"
  end
    %>
</p>

<p>
  <b>Webpage:</b>
  <%#= @tea.webpage %>
  <%#= link_to "website", @tea.webpage %>
  <a href="<%=@tea.webpage%>">website</a>
</p>

<p>
  <b>Image:</b>
  <img src="<%= @tea.image %>" />
</p>

<p>
  <b>Extra content:</b>
  <%= @tea.extra_content %>
</p>

<h2>Comments</h2>
<% @tea.comments.each do |f| %>
  <p>Commenter:</p>
  <%=f.commenter%>
  <p>Comment: </p>
  <%= f.body %>
<%end%>

<h2>Add a comment:</h2>
<%= form_for([@tea, @tea.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_tea_path(@tea) %> |
<%= link_to 'Back', teas_path %>
