<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tea.name %>
</p>

<p>
  <b>Producer:</b>
  <%= @tea.producer %>
</p>

<p>
  <b>Type of fluid:</b>
  <%= case @tea.type_of_fluid
  when 1 then "Tea"
  when 2 then "Tea-like"
  when 3 then "Coffe"
  end
    %>
</p>

<p>
  <b>Webpage:</b>
  <%#= @tea.webpage %>
  <%#= link_to "website", @tea.webpage %>
  <a href="<%=@tea.webpage%>">website</a>
</p>

<p>
  <b>Image:</b>
  <% if @tea.image.include? "http"%>
  <img src="<%= @tea.image %>" />
  <%else%>
    <%= image_tag('noimage.png', :alt=>"no image") %>
  <%end%>
</p>

<p>
  <b>Extra content:</b>
  <%= @tea.extra_content %>
</p>

<h2>Comments</h2>
<% @tea.comments.each_with_index do |f, i| %>
  <div class="comments">
  <h3>Commenter nr.<%=i%>:</h3>
  <%=f.commenter%>
  <h3>Comment: </h3>
  <%= f.body %>
  </div>
<%end%>

<h2>Add a comment:</h2>
<%= form_for([@tea, @tea.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_tea_path(@tea) %> |
<%= link_to 'Back', teas_path %>
